{% extends "base.html" %}

{% block content %}

<div class="admin-dashboard">

    <h1>LDJ Control Panel</h1>

    <a href="/admin/add" class="add-event-btn">
        ➕ Add New Event
    </a>

    {% for event in events %}

    <div class="admin-event-card">

        <img src="{{ image_src(event.cover_url) }}">

        <div class="admin-event-info">

            <h2>{{ event.title }}</h2>

            <p>📍 {{ event.venue }}</p>

            <p>📅 {{ event.date }}</p>

        </div>

        <div class="admin-buttons">

            <a href="/admin/edit/{{ event.slug }}">✏ Edit</a>

            <a href="/admin/photos/{{ event.slug }}">📸 Photos</a>

            <form
                action="{{ url_for('admin.delete_event_page', slug=event.slug) }}"
                method="POST"
>       
                <button type="submit">
                    🗑 Delete
                </button>
            </form>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}