<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">

    <title>LD John</title>

    <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">


</head>

<body>

<div class="page">

<header>

    <div class="logo">

        <img src="{{ url_for('static',
            filename='images/branding/LD-Icon.png') }}"
            alt="Line Dancing John">

    </div>

    <nav>

        <a href="/">Home</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
        <a href="/#follow">Follow</a>
        <a href="/#contact">Contact</a>

        {% if session.get("admin_logged_in") %}
        <form action="{{ url_for('admin.logout') }}" method="POST" class="logout-form">
            <button type="submit">Logout</button>
        </form>
        {% endif %}

    </nav>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<footer>

    <p>© 2026 Line Dancing John</p>

</footer>


<div id="lightbox">

    <span class="close">&times;</span>

    <span id="previous" class="arrow">&#10094;</span>

    <img id="lightbox-image">

    <span id="next" class="arrow">&#10095;</span>

    <p id="lightbox-caption"></p>

</div>

</div>

<script src="{{ url_for('static',
filename='js/script.js') }}"></script>

</body>

</html>